DATABASE_URL=postgres://postgres:localpassword@localhost:5432/postgres_fleet
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
MQTT_BROKER_URL=tcp://localhost:1883

POSTGRES_USER=postgres
POSTGRES_PASSWORD=localpassword
POSTGRES_DB=fleet_management

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

GEOFENCE_LAT=-6.20000
GEOFENCE_LNG=106.81667
GEOFENCE_RADIUS=50.0